@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
    /* Font */
    --font-display: "Red Hat Display", sans-serif;

    /* Color Primary */
    --color-blue-100: hsl(225, 100%, 94%);
    --color-blue-700: hsl(245, 75%, 52%);

    /* Color Neutral */
    --color-blue-50: hsl(225, 100%, 98%);
    --color-gray-600: hsl(224, 23%, 55%);
    --color-blue-950: hsl(223, 47%, 23%);
}
